/* ==============================================================
Trabalho de Conclusão de Curso - TCC
Pós-graduação Lato Sensu em Desenvolvimento de Aplicações Web
Sistema Medical Clinic
Aluno: Marcelo Torres
Ano: 09/2019
Versão: 1.0
============================================================== */

/* Add Google Web Fonts Roboto  */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

/* Default Settings */
body {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}
.text-12 {
    font-size: 1.2em;
}
.text-14 {
    font-size: 1.4em;
}
.text-16 {
    font-size: 1.6em;
}
.text-18 {
    font-size: 1.8em;
}
.text-20 {
    font-size: 2.0em;
}
.text-white {
    color: #FFF;
}
.text-gray333 {
    color: #333;
}
.text-green {
    color: #33b35a;
}
.text-red {
    color: #8e0c0a;
}
.text-blue {
    color: #1789e7;
}
.bg-green {
    background-color: #33b35a;
}

.bg-gray333 {
    background-color: #333;
}
.bg-white {
    background-color: #FFF;
}

/* Card Signin Form */
.home-signin .card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}
.home-signin {
    background: #33b35a;
    background: linear-gradient(to right, #33b35a, #72ca8d);
}
.home-signin .form-signin .btn {
    font-size: 1.8em;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
}
.home-signin .form-label-group input {
    height: auto;
    border-radius: 2rem;
    margin-bottom: 10px;
}  
.home-signin .form-control:focus {
    color: #33b35a;
    border-color: #33b35a;
    box-shadow: 0 0 0 0.2rem rgba(114,202,141,.25);
}
.home-signin .custom-control-label {
    font-size: 16px;
} 


/* Home Admin Dashboard */

.bg-admin {
    background-color: #EEE;
    background-image: url(../image/pattern.png);
}
.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
    color: #FFF;
    background-color: #333;
    border: none;
}
.navbar-dark .navbar-nav .nav-link {
    color: #33b35a;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #333;
}
.active .nav-link:hover {
    color: #FFF !important;
}
.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,1);
    border-color: rgba(255,255,255,1);
}
.breadcrumb-item a {
    color: #FFF;
}
.breadcrumb-item.active {
    color: #33b35a;
}

/* Page Pacientes */

.table-hover th,
.table-hover td {
    font-size: 1.6em;
}
.table-hover button {
    cursor: pointer;
}
